.body-men{
    padding: 0;
    margin: 0;
    background-position:center;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fashion-web-urbanista.appspot.com/o/slider%2Fmohamadreza-khashay-ziubUDopHmc-unsplash.jpg?alt=media&token=235f05c4-0349-49d8-a313-bd9150fee0db');
    background-size:cover;
    background-color: gray;
}

