.body-faq{
    padding: 0;
    margin: 0;
    background-position:center;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fashion-web-urbanista.appspot.com/o/FAQ%2Fnoah-clark-pDpMSjjoPos-unsplash.jpg?alt=media&token=4fa26103-5076-4935-8735-47b17fe7dfee');
    background-size:cover; 
}