.faq-base-section{
    backdrop-filter: blur(3px);
    border: solid black;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
    animation: autoExpand 1s ease-in-out forwards;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,1));
    
}
.base-faq{
    background-color: black;
    border: solid black;    
    display: block;
    width: 1075px;
    height: 130px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    transition: width 2s, height 1s;
}
.base-faq:hover {
    width: 900px;
    height: 145px;
}
@keyframes autoExpand {
    0% { height: 0px; width: 0px ;}
    25% { width: 200px; height: 20px;}
    100% { height: 2890px; width: 1075px;}
}

.title-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rack-outer-vertical{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
}
.rack-inner-horizontal{
    /* display: flex;
    flex-direction: row;
    */
    position: relative; 
    display: inline-block;
    margin:20px;
}
.fit-frame{
    width: 755px;
    height: auto;
    border-radius: 20px;
    margin: 0 auto;
    /* border: 2px solid white; */
    display: flex;
    padding: 2px;
    align-items: center;
    flex-shrink: 100;
}

.fit-hover{
    /* width: 250px; */
    border-radius: 25px;
    margin: 0 auto;
    margin-left:10px;
    margin-right: 15px;
    overflow: hidden;
    display:flex;
    border: solid black;
    background-color: black;
    overflow: hidden;
    opacity : 1;
    padding-right: 755px;
    transition: opacity 2s ease-in;
    white-space: nowrap;
}

.slider{
    display: inline-block;
    width: 300%;
    display: flex;
    animation: sliderAnimation 600s linear infinite alternate;
}

@keyframes sliderAnimation {
    from {
        transform: translateX(0%);
      }
    to {
        transform: translateX(-14250%);
      }
}



@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.fit-hover {
    animation: fadeIn 1s ease-in forwards;
}


.content-style{
    text-align: center;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: light;
    color: white;
}

.question-bar {
    display: flex;
    margin-bottom: 20px;
    padding:20px ;
    background-color: black;
    border-radius: 20px;
    color: white;
    transition: background-color 1s; 
}

.question-bar:hover .answer{
    opacity: 1;
}


 .answer {
    padding-top: 30px;
    margin-left:20px;
    background-color: black; 
    border-radius: 20px;
    opacity: 0; 
    transition: opacity 1s;
}



.question{
    padding: 22px;
    font-size: 25px;
    color: white;

}
.answer{
    font-size: 14px;
    color: whitesmoke;
}